*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body::-webkit-scrollbar{
    display: none;
}
.wrapper{
    display: flex;
    /* gap: 120px; */
    width: 100vw;
    /* overflow-x: hidden; */
}
@media (min-width: 250px) and (max-width: 400px) {
    .hamburger{
        display: none;
    }
}

@media (min-width: 400px) {
   .hamburger{
    display: flex;
   }
}

